* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneueroman-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneueroman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneueitalic-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneueitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneuebold-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneuebold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneuebolditalic-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneuebolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}


 @font-face {
    font-family: 'LinguisticsPro';
    src: url('linguisticspro-webfontkit/linguisticspro-bold-webfont.woff2') format('woff2'),
         url('linguisticspro-webfontkit/linguisticspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glamour';
    src: url('glamour-webfontkit/glamour-webfont.woff2') format('woff2'),
         url('glamour-webfontkit/glamour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: 'HelveticaNeue';
    overflow-x: hidden;
    min-height: 784px;
}

main {
    background-color: #414042;
    width: 100%;
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-position: inside; /* Aligns bullets with the text */
}

ul li {
    text-indent: -20px;
    padding-left: 20px;
}

    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
} */


/*NAV ------------------------------------------------------------------------------------*/

.head-back {
    position: fixed;
    background-color: aliceblue;
    width: 100vw;
    z-index: 1000;
}

.head-contain {
    background-color: #414042;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 10px 24px;
    background-color: #414042;
    color: #c5c5c5;
    border-bottom: #2b2b2b;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #c5c5c5;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #414042; /* Ensure background color matches the header */
    }

    .nav-links.active {
        display: flex;
        background-color: #414042; /* Ensure the background color matches or contrasts well */
        z-index: 2000; /* Ensure it’s on top of other elements */
        gap: 6px;
    }

    .hamburger {
        display: flex;
    }
}

/*HOME ------------------------------------------------------------------------------------*/

.homecard {
    background-color: white;
    width: 100vw;
    /* max-width: 1600px; */
    height: 80vh;
    min-height: 700px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    width:auto;
    height: 50%;
    margin-top: 10vmin;
    animation: fadeInSlideInUp 1s ;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeInSlideInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.occupation {
    background-color: #2b2b2b;
    color: white;
    font-size: clamp(24px,3vmin, 36px);
    padding: .5vmin 2vmin .5vmin 2vmin;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vmin;
    animation: fadeInSlideIn 1s forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;

}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-cir {
    background-color: white;
    width: 20vmin;
    height: 20vmin;
    max-width: 180px;
    max-height: 180px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    z-index: 2;
    animation: fadeInSlideIn 1s forwards;
    animation-delay: 1s;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(20px); /* Initial position for sliding effect */
}

.arrow {
    position: absolute;
    font-size: 4vmin;
    color: #2b2b2b; 
    font-size: 4vmin;
    z-index: 2; 
}

.scroll-text {
    width: 90%;
    height: 90%;
    z-index: 1;
    animation: rotate 45s linear infinite;
} 

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .name {
        height: 40%;
        margin-top: 20vmin;
    }

    .homecard {
        height: 60vh;
        min-height: 560px;
    }

    .scroll-cir {
        width: 30vmin;
        height: 30vmin;
        max-width: 180px;
        max-height: 180px;
    }

}

/*HOME PROJECTS------------------------------------------------------------------------------------*/

.proj-box-contain {
    background-color: #414042;
    width: 100vw;
    max-width: 1600px;
    padding: 50px;
    margin-top: -80px;
    gap: 32px;
} 

.intro {
    color: white;
    font-size: clamp(16px, 4vmin, 42px);
    width: 75%;
    margin-top: 30vmin;
}

.intro-line {
    width: 60%;
    border-bottom: 2px solid white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.here {
    color: white;
    font-size: clamp(12px, 2vmin, 24px);
    margin-bottom: 30vmin;
}

.proj-box {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 1vmin;
    margin: 20vmin 0 20vmin 0;
}

.proj-box .img {
    width: 100%;
    height: auto;
    border-radius: 1vmin;
}

.proj-title {
    margin-top: 1vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: clamp(16px, 4vw, 42px);
    color: #2b2b2b;
}

.proj-title .tag { 
    background-color: #2b2b2b;
    color: white;
    font-size: clamp(16px, 2vw, 24px);
    padding: .5vmin 1.5vmin .5vmin 1.5vmin;
    border-radius: 50px;
    display: flex;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .proj-box-contain {
        padding: 24px;
    }
    .proj-box {
        padding: 12px;
    }

    .proj-title .tag {
        display: none;
    }

}


/*FOOTER------------------------------------------------------------------------------------*/

.footer {
    color: #808285;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 10vmin;
}

.footer .logo {
    width: 24vmin;
    height: auto;
    margin-bottom: 2vmin;
}

.spacer {
    width: 100vw;
    height: 4vmin;
}

.copyright {
    text-align: center;
}

@media screen and (max-width: 600px) {
 .copyright {
    font-size: 12px;
    margin-bottom: 16px;
 }

 .spacer {
    height: 1vmin;
}

}

/*PORTFOLIO------------------------------------------------------------------------------------*/

.port-contain {
    background-color: #efefef;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 24px;
    align-items: center;
    justify-content: center;
}

.port-proj-contain {
    width: 100vw;
    max-width: 1600px;
    padding: 24px;
    margin-top: 5vmin;
    animation: fadeInSlideIn 1s forwards;
    transition: opacity 1s ease, transform 1s ease;
    
}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.port-row {
    margin-bottom: 4vmin;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.port-proj {
    background-color: white;
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 1vmin;
    border: 1px solid #b5b5b5;
}

.port-proj .img {
    width: 100%;
    height: auto;
    border-radius: 1vmin;
}

.port-proj-title {
    margin-top: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-proj-text {
    font-size: clamp(12px, 2.5vmin, 24px);
    color: #2b2b2b;
}

.port-tag {
    background-color: #2b2b2b;
    color: white;
    padding: .5vmin 1vmin .5vmin 1vmin;
    border-radius: 50px;
    font-size: clamp(10px, 1vmin, 18px);
    text-align: center;
}

.empty {
    background-color: #efefef;
    border: #efefef;
    width: 50%;
    padding: 24px;
}

.empty img {
    opacity: 0;
}

.foot-port {
    opacity: 40%;
}

.nav-links .thispg  {
    color: white;
}

@media screen and (max-width: 600px) {
    .port-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .port-proj {
        width: 100%;
        padding: 16px;
    }

    .port-proj-title {
        gap: 6px;
    }

    .port-tag {
        display: none;
    }

    .port-proj-text {
        font-size: 16px;
        color: #2b2b2b;
    }

    .port-contain {
        padding-top: 10vmin;
    }

    .empty {
        display: none;
    }

}

@media screen and (max-width: 1080px) {
    .port-proj-title {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}


/*ABOUT------------------------------------------------------------------------------------*/

.about-back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    overflow: hidden;
}

.pic-contain {
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInSlideIn 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
    padding-top: 100px;
}

.pfp {
    width: 50%;
    max-width: 700px;

    border-radius: 1vmin;
}

.text-contain {
    width: 100%;
    max-width: 1200px;
    font-size: clamp(16px, 2vmin, 20px);
    margin: 20px;
    animation: fadeInSlideInUp 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
    line-height: 32px;
    padding: 50px;
    border: 1px solid #808285;
    border-radius: 1vmin;
}


@media (max-width: 600px) {

    .text-contain {
        padding: 24px;
    }
}


/*PROJECT1 + Header Pics------------------------------------------------------------------------------------*/

.project-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px 0 24px;
}

.top-pic {
    width: 100%;
    max-width: 1600px;
    height: auto;
    margin-top: 32px;

}

.port-txt {
    width: 75%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vmin;
    border: 1px solid #b5b5b5;
    border-radius: 1vmin;
    margin: 5vmin 0 5vmin 0;
    color: #2b2b2b;
    font-size: 16px;
    line-height: 32px;

}

.ov-contain {
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 5vmin;
}

.ov {
    width: 60%;
}

.key {
    width: 20%;
}

.imgs-contain {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one-img {
    width: 100%;
    height: auto;
    margin: 24px 0 24px 0;
}

@media (max-width: 1100px) {
    .port-txt {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;  
    }

    .ov-contain {
        flex-direction: column;
    }

    .ov {
        width: 100%;
    }

    .key {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .title-contain {
        font-size: smaller;
    }
}

/*PROJECT2------------------------------------------------------------------------------------*/

.view-btn {
    background-color: #414042;
    color: white;
    font-size: large;
    letter-spacing: .05em;
    padding: 2vmin 4vmin 2vmin 4vmin;
    border-radius: 1vmin;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.view-btn:hover {
    opacity: 85%;
}

.page-text {
    width: 75%;
    max-width: 1200px;
    height: auto;
    color: #2b2b2b;
    margin-top: 12vmin;
    line-height: 32px;
}

.threecol-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vmin;
    margin-top: 5vmin;
}

.process-arrow {
    height: 100%;
    font-size: 3vmin;
}

.h2-title {
    padding: 1vmin;
    border: 1px solid #b5b5b5;
    border-radius: 1vmin;
}

.twocol-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
}

.left-col {
    width: 45%;
}

.right-col {
    width: 45%;
}

.ca-row {
    display: flex;
    justify-content: space-between;
}

.page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vmin;
}

.page-img img {
    width: 30vmin;
    height: auto;
}

.screens-contain {
    background-color:#e6e6e6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 50px 0;
}

.gif-text {
    margin: 5vmin 0 5vmin 0;

}

.des-sys {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
}

.des-sys img {
    width: 50%;
}

.screens {
    width: 100%;
    max-width: 1600px;
    height: auto;
}

@media (max-width: 800px) {
    .page-text {
        width: 100%;
    }

    .threecol-row {
        flex-direction: column;
        align-items: start;
    }

    .process-txt-contain {
        justify-content: left;
    }

    .process-arrow {
        display: none;
    }

    .twocol-text {
        flex-direction: column;
        gap: 40px;
        padding: 2vmin;
    }

    .left-col {
        width: 100%;
    }
    
    .right-col {
        width: 100%;
    }

    .ca-row {
        flex-direction: column;
    }

}

/*PROJECT3------------------------------------------------------------------------------------*/

.right-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PROJECT4------------------------------------------------------------------------------------*/

ol {
    padding-left: 20px; /* Adjust the padding as needed */
  }
  
  ol li {
    margin-left: 0; /* Ensure the list item text aligns properly */
  }

.ugk li {
    margin-bottom: 12px;
}