* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneueroman-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneueroman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneueitalic-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneueitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneuebold-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneuebold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../portfolio2/helveticaneue-webfontkit/helveticaneuebolditalic-webfont.woff') format('woff'),
        url('../portfolio2/helveticaneue-webfontkit/helveticaneuebolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}


 @font-face {
    font-family: 'LinguisticsPro';
    src: url('linguisticspro-webfontkit/linguisticspro-bold-webfont.woff2') format('woff2'),
         url('linguisticspro-webfontkit/linguisticspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glamour';
    src: url('glamour-webfontkit/glamour-webfont.woff2') format('woff2'),
         url('glamour-webfontkit/glamour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: 'HelveticaNeue';
    overflow-x: hidden;
    min-height: 784px;
}

main {
    background-color: #414042;
    width: 100vw;
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

ul {
    list-style-position: inside; /* Aligns bullets with the text */
}

    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
} */


/*NAV ------------------------------------------------------------------------------------*/

.head-back {
    background-color: aliceblue;
    width: 100vw;
}

.head-contain {
    background-color: #414042;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 10px 24px;
    background-color: #414042;
    color: #c5c5c5;
    border-bottom: #2b2b2b;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #c5c5c5;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/*HOME ------------------------------------------------------------------------------------*/

.homecard {
    background-color: white;
    width: 100vw;
    /* max-width: 1600px; */
    height: 80vh;
    min-height: 700px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    width:auto;
    height: 50%;
    margin-top: 10vmin;
    animation: fadeInSlideInUp 1s ;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeInSlideInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.occupation {
    background-color: #2b2b2b;
    color: white;
    font-size: clamp(24px,3vmin, 36px);
    padding: .5vmin 2vmin .5vmin 2vmin;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vmin;
    animation: fadeInSlideIn 1s forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;

}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-cir {
    background-color: white;
    width: 20vmin;
    height: 20vmin;
    max-width: 180px;
    max-height: 180px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -100px;
    z-index: 2;
    animation: fadeInSlideIn 1s forwards;
    animation-delay: 1s;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(20px); /* Initial position for sliding effect */
}

.arrow {
    position: absolute;
    font-size: 4vmin;
    color: #2b2b2b; 
    font-size: 4vmin;
    z-index: 2; 
}

.scroll-text {
    width: 90%;
    height: 90%;
    z-index: 1;
    animation: rotate 45s linear infinite;
} 

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*HOME PROJECTS------------------------------------------------------------------------------------*/

.proj-box-contain {
    background-color: #414042;
    width: 100vw;
    max-width: 1600px;
    padding: 50px;
    margin-top: -80px;
    gap: 32px;
} 

/*
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.proj-box-contain::-webkit-scrollbar {
    display: none;
}

.snap-contain {
    background-color: #414042;
    width: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}
*/


.intro {
    color: white;
    font-size: clamp(16px, 4vmin, 42px);
    width: 75%;
    margin-top: 30vmin;
}

.intro-line {
    width: 60%;
    border-bottom: 2px solid white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.here {
    color: white;
    font-size: clamp(12px, 2vmin, 24px);
    margin-bottom: 30vmin;
}

.proj-box {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 24px;
    border-radius: 1vmin;
    margin: 20vmin 0 20vmin 0;
}

.proj-box .img {
    width: 100%;
    height: auto;
    border-radius: 1vmin;
}

.proj-title {
    margin-top: 1vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: clamp(16px, 4vw, 42px);
    color: #2b2b2b;
}

.proj-title .tag { 
    background-color: #2b2b2b;
    color: white;
    font-size: clamp(16px, 2vw, 24px);
    padding: .5vmin 1.5vmin .5vmin 1.5vmin;
    border-radius: 50px;
    display: flex;
    text-align: center;
}


/*FOOTER------------------------------------------------------------------------------------*/

.footer {
    color: #808285;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 10vmin;
}

.footer .logo {
    width: 24vmin;
    height: auto;
    margin-bottom: 2vmin;
}

.spacer {
    width: 100vw;
    height: 4vmin;
}

/*PORTFOLIO------------------------------------------------------------------------------------*/

.port-contain {
    background-color: #efefef;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 24px;
    align-items: center;
    justify-content: center;
}

/*
.port-title {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vmin;
    font-family: 'LinguisticsPro';
    font-weight: bold;
    color: #414042;

}

.select {
    color: #414042;
    width: 100vw;
    font-size: 2vmin;
    margin: 0 0 10vmin 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

.port-proj-contain {
    width: 100vw;
    max-width: 1600px;
    padding: 24px;
    margin-top: 5vmin;
    animation: fadeInSlideIn 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
    
}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.port-row {
    margin-bottom: 4vmin;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.port-proj {
    background-color: white;
    width: 50%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-radius: 1vmin;
    border: 1px solid #b5b5b5;
}

.port-proj .img {
    width: 100%;
    height: auto;
    border-radius: 1vmin;
}

.port-proj-title {
    margin-top: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-proj-text {
    font-size: clamp(12px, 2.5vmin, 24px);
    color: #2b2b2b;
}

.port-tag {
    background-color: #2b2b2b;
    color: white;
    padding: .5vmin 1vmin .5vmin 1vmin;
    border-radius: 50px;
    font-size: clamp(16px, 2vmin, 18px);
}

.empty {
    background-color: #efefef;
    border: #efefef;
}

.foot-port {
    opacity: 40%;
}

.nav-links .thispg  {
    color: white;
}


/*ABOUT------------------------------------------------------------------------------------*/

.about-back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-contain {
    width: auto;
    max-width: 1600px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.pic-contain {
    background-color: #808285;
    width: 50%;
    min-width: 480px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    animation: fadeInSlideIn 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
}

.text-contain {
    width: 50%;
    max-height: 80%;
    font-size: clamp(16px, 3vmin, 20px);
    margin: 20px 0 20px 0;
    animation: fadeInSlideInUp 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
}

@media (min-width: 600px) and (max-width: 1100px) {
    .about-contain {
        flex-direction: column;
    }

    .text-contain {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .about-contain {
        flex-direction: column;
    }

    .text-contain {
        width: 80%;
    }
}

/*PROJECT1 + Header Pics------------------------------------------------------------------------------------*/

.project-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px 0 24px;
}

.top-pic {
    width: 100%;
    max-width: 1600px;
    height: auto;

}

.port-txt {
    width: 75%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vmin;
    border: 1px solid #b5b5b5;
    border-radius: 1vmin;
    margin: 5vmin 0 5vmin 0;
    color: #2b2b2b;
    font-size: 16px;
    line-height: 32px;

}

.ov-contain {
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 5vmin;
}

.ov {
    width: 60%;
}

.key {
    width: 20%;
}

.imgs-contain {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one-img {
    width: 100%;
    height: auto;
    margin: 24px 0 24px 0;
}
