* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneue-webfontkit/helveticaneuelight-webfont.woff') format('woff'),
        url('helveticaneue-webfontkit/helveticaneuelight-webfont.woff2') format('woff2');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneue-webfontkit/helveticaneueroman-webfont.woff') format('woff'),
        url('helveticaneue-webfontkit/helveticaneueroman-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneue-webfontkit/helveticaneueitalic-webfont.woff') format('woff'),
        url('helveticaneue-webfontkit/helveticaneueitalic-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneue-webfontkit/helveticaneuebold-webfont.woff') format('woff'),
        url('helveticaneue-webfontkit/helveticaneuebold-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneue-webfontkit/helveticaneuebolditalic-webfont.woff') format('woff'),
        url('helveticaneue-webfontkit/helveticaneuebolditalic-webfont.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}


 @font-face {
    font-family: 'LinguisticsPro';
    src: url('linguisticspro-webfontkit/linguisticspro-bold-webfont.woff2') format('woff2'),
         url('linguisticspro-webfontkit/linguisticspro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glamour';
    src: url('glamour-webfontkit/glamour-webfont.woff2') format('woff2'),
         url('glamour-webfontkit/glamour-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

body {
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
    min-height: 784px;
}

main {
    background-color: #414042;
    width: 100%;
    padding: 0 24px 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

ul {
    list-style-position: inside; /* Aligns bullets with the text */
}

ul li {
    text-indent: -20px;
    padding-left: 20px;
}

    /* scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

main::-webkit-scrollbar {
    display: none;
} */


/*NAV ------------------------------------------------------------------------------------*/

.head-back {
    position: fixed;
    background-color: aliceblue;
    width: 100vw;
    z-index: 1000;
}

.head-contain {
    background-color: #414042;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    width: 100vw;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px 10px 24px;
    background-color: #414042;
    color: #c5c5c5;
    border-bottom: #2b2b2b;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

nav {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    color: #c5c5c5;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: white;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #414042; /* Ensure background color matches the header */
    }

    .nav-links.active {
        display: flex;
        background-color: #414042; /* Ensure the background color matches or contrasts well */
        z-index: 2000; /* Ensure it’s on top of other elements */
        gap: 6px;
    }

    .hamburger {
        display: flex;
    }
}

/*HOME ------------------------------------------------------------------------------------*/

.homecard {
    /*
    background-color: white;
    width: 100vw;
    height: 80vh;
    min-height: 550px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    */

    background-image: url('milad-fakurian-UiiHVEyxtyA-unsplash.jpg');
    background-color: rgb(209, 232, 242);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 80vh;
    min-height: 550px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.home-contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInSlideInUp 1s ;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.name-contain {
    width: 80%;
    max-width: 1400px;
    min-width: 500px;
    height: auto;
    text-align: left;
    font-size: clamp(20px, 10vmin, 150px);
    padding: 24px;
    color: #2b2b2b;
    margin-bottom: 24px;
    font-weight: light;
}

.g {
    font-family: "baskerville-poster-pt", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 10vmin;
}

.small {
    font-size: 4vmin;
}

.home-line {
    width: 76%;
    max-width: 1400px;
    border-bottom: 1px dashed #2b2b2b;
    
}

.intro-contain {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.hi {
    width: 80%;
    max-width: 1400px;
    font-size: clamp(16px, 2vmin, 18px);
    color: #2b2b2b;
    line-height: 24px;
}

.graphic {
    background-color: #2b2b2b;
    color: white;
    padding: 4px 8px 3px 8px;
    border-radius: 100px;
}

.name {
    width:auto;
    height: 50%;
    margin-top: 10vmin;
    animation: fadeInSlideInUp 1s ;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes fadeInSlideInUp {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.occupation {
    background-color: #2b2b2b;
    color: white;
    font-size: clamp(24px,3vmin, 36px);
    padding: .5vmin 2vmin .5vmin 2vmin;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vmin;
    animation: fadeInSlideIn 1s forwards;
    transition: opacity 0.5s ease, transform 0.5s ease;

}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.scroll-cir {
    background-color: white;
    width: 20vmin;
    height: 20vmin;
    max-width: 180px;
    max-height: 180px;
    border: 2px solid #414042;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    z-index: 2;
    animation: fadeInSlideIn 1s forwards;
    animation-delay: 1s;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(20px); /* Initial position for sliding effect */
}

.arrow {
    position: absolute;
    font-size: 5vmin;
    color: #4c4c4c; 
    font-size: 5vmin;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    transition: transform 0.3s ease;
}

.arrow:hover {
    animation: bounce 0.8s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
}


.scroll-text {
    width: 85%;
    height: 85%;
    z-index: 1;
   /* animation: rotate 76s linear infinite;*/
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 600px) {
    .name {
        height: 40%;
        margin-top: 20vmin;
    }

    .homecard {
        height: 40vh;
        min-height: 450px;
    }

    .scroll-cir {
        width: 30vmin;
        height: 30vmin;
        max-width: 180px;
        max-height: 180px;
    }

    .hi {
        margin-bottom: 32px;
    }

    .name-contain {
        margin-bottom: 12px;
        width: 100%;
        min-width: 10px;
    }

    .home-contain {
        height: auto;
    }
}

/*HOME PROJECTS------------------------------------------------------------------------------------*/

.proj-box-contain {
    background-color: #414042;
    width: 100vw;
    max-width: 1600px;
    padding: 50px;
    margin-top: -80px;
    gap: 32px;
    display: flex;
    flex-direction: column;
} 

.intro-box {
    width: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1vmin auto 1vmin auto;
}

.intro {
    color: white;
    font-size: clamp(16px, 4vmin, 42px);
    width: 75%;
    margin-top: 30vmin;
    
}

.intro-line {
    width: 60%;
    border-bottom: 2px solid white;
    margin-top: 30px;
    margin-bottom: 24px;
}

.here {
    color: white;
    font-size: clamp(12px, 2vmin, 24px);
    margin-bottom: 10vmin;
}

.proj-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vmin;
}

.proj-link {
    display: inline-block;
}

.proj-box {
    background-color: white;
    width: 88%;
    height: auto;
    padding: 16px;
    border-radius: 1vmin;
    margin: 10vmin auto 10vmin auto;
    transition: background-color 0.1s ease-in;
}

.proj-box:hover {
    background-color: rgb(246, 246, 246);
}


.proj-box .img {
    width: 100%;
    height: auto;
    border-radius: 1vmin;
}

.proj-title {
    margin-top: 1vmin;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: clamp(16px, 2.5vw, 42px);
    color: #2b2b2b;
}

.proj-title .tag { 
    background-color: #2b2b2b;
    color: white;
    font-size: clamp(16px, 1vw, 20px);
    padding: .8vmin 1.5vmin .5vmin 1.5vmin;
    border-radius: 50px;
    display: flex;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .proj-box-contain {
        padding: 24px;
    }
    .proj-box {
        padding: 12px;
        width: 100%;
    }

    .proj-title .tag {
        display: none;
    }

    .intro-box {
        width: 100%;
    }

    .home-line {
        width: 100%;
    }

    .hi {
        width: 100%;
    }

}


/*FOOTER------------------------------------------------------------------------------------*/

.footer {
    color: #808285;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    margin-top: 10vmin;
}

.footer .logo {
    width: 24vmin;
    height: auto;
    margin-bottom: 2vmin;
    display: none;
}

.spacer {
    width: 100vw;
    height: 4vmin;
}

.copyright {
    text-align: center;
}

@media screen and (max-width: 600px) {
 .copyright {
    font-size: 12px;
    margin-bottom: 16px;
 }

 .spacer {
    height: 1vmin;
}

}

/*PORTFOLIO------------------------------------------------------------------------------------*/

.port-contain {
    background-color: #efefef;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 24px 0 24px;
    align-items: center;
    justify-content: center;
}

.port-proj-contain {
    width: 100vw;
    max-width: 1600px;
    padding: 24px;
    margin-top: 5vmin;
    animation: fadeInSlideIn 1s forwards;
    transition: opacity 1s ease, transform 1s ease;
    
}

@keyframes fadeInSlideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.port-row {
    margin-bottom: 4vmin;
    display: flex;
    gap: 36px;
    align-items: center;
    justify-content: center;
}

.port-proj {
    background-color: white;
    width: 50%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    border-radius: 1vmin;
    border: 1px solid #d1d1d1;
    transition: background-color 0.1s ease-in;
}


.port-proj:hover {
     background-color: rgb(246, 246, 246);
 }


.port-proj .img {
    width: 100%;
    height: auto;
    border-radius: 1vmin;
}

.port-proj-title {
    margin-top: 1vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port-proj-text {
    font-size: clamp(12px, 2.5vmin, 24px);
    color: #2b2b2b;
}

.port-tag {
    background-color: #2b2b2b;
    color: white;
    padding: .5vmin 1vmin .5vmin 1vmin;
    border-radius: 50px;
    font-size: clamp(10px, 1vmin, 18px);
    text-align: center;
}

.empty {
    background-color: #efefef;
    border: #efefef;
    width: 50%;
    padding: 24px;
    transition: none;
}

.empty img {
    opacity: 0;
}

.empty:hover {
    opacity: 0;
}

.foot-port {
    opacity: 40%;
}

.nav-links .thispg  {
    color: white;
}

@media screen and (max-width: 600px) {
    .port-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .port-proj {
        width: 100%;
        padding: 16px;
    }

    .port-proj-title {
        gap: 6px;
    }

    .port-tag {
        display: none;
    }

    .port-proj-text {
        font-size: 16px;
        color: #2b2b2b;
    }

    .port-contain {
        padding-top: 10vmin;
    }

    .empty {
        display: none;
    }

}

@media screen and (max-width: 1080px) {
    .port-proj-title {
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}


/*ABOUT------------------------------------------------------------------------------------*/

.about-back {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    overflow: hidden;
}

.pic-contain {
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeInSlideIn 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
    padding-top: 100px;
}

.pfp {
    width: 50%;
    max-width: 500px;

    border-radius: 1vmin;
}

.text-contain {
    width: 100%;
    max-width: 1200px;
    font-size: clamp(16px, 2vmin, 20px);
    margin: 20px;
    animation: fadeInSlideInUp 2s forwards;
    transition: opacity 1s ease, transform 1s ease;
    line-height: 32px;
    padding: 50px;
    border: 1px solid #808285;
    border-radius: 1vmin;
}

.big {
    font-size: 24px;
}

@media (max-width: 600px) {

    .text-contain {
        padding: 24px;
    }
}


/*PROJECT1 + Header Pics------------------------------------------------------------------------------------*/

.project-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px 0 24px;
}

.top-pic {
    width: 90%;
    max-width: 1600px;
    height: auto;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.port-txt {
    width: 75%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vmin;
    border: 1px solid #b5b5b5;
    border-radius: 1vmin;
    margin: 5vmin 0 5vmin 0;
    color: #2b2b2b;
    font-size: 16px;
    line-height: 32px;

}

.ov-contain {
    width: 100%;
    display: flex;
    gap: 32px;
    justify-content: space-between;
    margin-top: 5vmin;
}

.ov {
    width: 60%;
}

.key {
    width: 20%;
}

.imgs-contain {
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.one-img {
    width: 80%;
    height: auto;
    margin: 24px 0 24px 0;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 2000;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  /* 
.lightbox-content {
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 80%;
    max-height: 80%;
  }
  

.slides {
    display: none;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  .close {
    position: absolute;
    top: 50px;
    right: 136px;
    color: white;
    font-size: 35px;
    font-weight: regular;
    cursor: pointer;
    transition: 0.3s;
    z-index: 3000;
  }
  

  .close:hover {
    color: #bbb;
  }
  
 
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
  }
  
.prev {
    left: 0;
  }
  
.next {
    right: 0;
  }
  

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
*/

@media (max-width: 1100px) {
    .port-txt {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 16px;  
    }

    .ov-contain {
        flex-direction: column;
    }

    .ov {
        width: 100%;
    }

    .key {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .title-contain {
        font-size: smaller;
    }

    .one-img {
        width: 100%;
    }

    .top-pic {
        width: 100%;
    }
}

/*PROJECT2------------------------------------------------------------------------------------*/

.view-btn {
    background-color: #414042;
    color: white;
    font-size: large;
    letter-spacing: .05em;
    padding: 2vmin 4vmin 2vmin 4vmin;
    border-radius: 1vmin;
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.view-btn:hover {
    opacity: 85%;
}

.page-text {
    width: 75%;
    max-width: 1200px;
    height: auto;
    color: #2b2b2b;
    margin-top: 12vmin;
    line-height: 32px;
}

.threecol-row {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10vmin;
    margin-top: 5vmin;
}

.process-arrow {
    height: 100%;
    font-size: 3vmin;
}

.h2-title {
    padding: 1vmin;
    border: 1px solid #b5b5b5;
    border-radius: 1vmin;
}

.twocol-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
}

.left-col {
    width: 45%;
}

.right-col {
    width: 45%;
}

.ca-row {
    display: flex;
    justify-content: space-between;
}

.page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10vmin;
}

.page-img img {
    width: 30vmin;
    height: auto;
}

.screens-contain {
    background-color:#e6e6e6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 26px 50px 26px;
}

.gif-text {
    margin: 5vmin 0 5vmin 0;

}

.des-sys {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
}

.des-sys img {
    width: 50%;
}

.screens {
    width: 100%;
    max-width: 1600px;
    height: auto;
}

@media (max-width: 800px) {
    .page-text {
        width: 100%;
    }

    .threecol-row {
        flex-direction: column;
        align-items: start;
    }

    .process-txt-contain {
        justify-content: left;
    }

    .process-arrow {
        display: none;
    }

    .twocol-text {
        flex-direction: column;
        gap: 40px;
        padding: 2vmin;
    }

    .left-col {
        width: 100%;
    }
    
    .right-col {
        width: 100%;
    }

    .ca-row {
        flex-direction: column;
    }

}

/*PROJECT3------------------------------------------------------------------------------------*/

.right-pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*PROJECT4------------------------------------------------------------------------------------*/

ol {
    padding-left: 20px; /* Adjust the padding as needed */
  }
  
  ol li {
    margin-left: 0; /* Ensure the list item text aligns properly */
  }

.ugk li {
    margin-bottom: 12px;
}

/*TEST GALLERY -----------------------------------------------------------------------------------*/
.gallery {
    margin: 10px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery img {
    width: 100%;
    padding: 5px;
    transition: 0.2s;
}

.gallery img:hover {
    opacity: 90%;
    transform: scale(1.01);
}

.galleryrow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}